.footer {
  background: linear-gradient(180deg, #032e15 0%, #063b1f 100%);
  color: #ffffff;
  padding: 60px 5%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Brand */
.footer__brand h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.footer__links__sub {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  justify-content: space-between;
  font-weight: 300;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 15rem;
}

/* Links */
.footer__links {
  display: flex;
  gap: 15rem;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links li {
  margin-bottom: 10px;
}

.footer__links a {
  display: inline-block;
  color: #d9e6df;
  text-decoration: none;
  font-size: 0.95rem;
  transition: transform 0.3s ease;
}

.footer__links a:hover {
  color: #ffffff;
  transform: scale(1.1);
}

/* Social */
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__social a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #d9e6df;
  text-decoration: none;
  font-size: 0.95rem;
}

.footer__social img {
  width: 1.5rem;
  transition: transform 0.5s ease;
}

.footer__social a:hover img {
  transform: scale(1.2);
}

/* Newsletter */
.footer__newsletter {
  max-width: 32rem;
  justify-self: end;
}

.newsletter__title {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.newsletter__form {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.newsletter__form input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 4px;
  border: 1px solid #9bb3a6;
  background: transparent;
  color: #ffffff;
}

.newsletter__form input::placeholder {
  color: #b7c8bf;
}

.newsletter__form input:focus {
  outline: 0.1rem solid #ffffff;
}

.newsletter__form button {
  padding: 12px 18px;
  background: #7a4a0a;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.newsletter__form button:hover {
  background: #8b560d;
}

.newsletter__note {
  font-size: 0.75rem;
  color: #b7c8bf;
}

.newsletter__note a {
  color: #b7c8bf;
  text-decoration: underline;
}

/* ---------------- MODAL ---------------- */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #ffffff;
  color: #1a1a1a;
  max-width: 420px;
  width: 90%;
  padding: 30px 28px;
  border-radius: 14px;
  position: relative;
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal-overlay.active .modal {
  transform: scale(1);
}

.modal .sub-suc {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #016630;
}

.modal h3 {
  margin-bottom: 12px;
  font-size: 1.4rem;
  color: #032e15;
}

.modal p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 22px;
  line-height: 1.5;
}

.modal-btn {
  padding: 12px 22px;
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9rem;
}

.modal-btn:hover {
  background: linear-gradient(180deg, #016630 0%, #032e15 100%);
  box-shadow: 0px 3px 4px #016630c5;
}

/* Close Icon */
.modal-close {
  position: absolute;
  top: 12px;
  right: 14px;
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #555;
  transition: all 0.3s ease;
}
.modal-close:hover {
  transform: scale(1.1);
  color: red;
}

/* Prevent background scroll */
body.modal-open {
  overflow: hidden;
}

/* _______________________________________________  FOOTER SECTION RESPONSIVE ___________________________________________________________ */

@media (max-width: 425px) {
  .modal {
    max-width: auto;
    width: 80%;
    padding: 20px 18px;
  }
  .modal h3 {
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .modal {
    padding: 24px 20px;
  }
}

@media (max-width: 1440px) {
  .footer__links {
    gap: 10rem;
  }
  .footer__left {
    gap: 10rem;
  }
}

@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }

  .footer__links,
  .footer__left {
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer__links__sub {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer__newsletter {
    justify-self: start;
    max-width: 26rem;
  }

  .newsletter__form {
    flex-direction: column;
  }

  .newsletter__form button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .footer__newsletter {
    max-width: 100%;
  }

  .footer__links,
  .footer__left {
    gap: 2rem;
  }

  .footer__brand h2 {
    margin: 0;
    font-size: 2rem;
  }
  .footer__links a,
  .footer__social a {
    font-size: 0.8rem;
  }
  .footer__social img {
    width: 1.2rem;
  }
  .newsletter__title {
    font-size: 0.9rem;
  }
}

/* 320px SAFE */
@media (max-width: 360px) {
  .footer {
    padding: 40px 20px;
  }

  .footer__brand h2 {
    font-size: 1.6rem;
  }
}
