.hero {
  position: relative;
  width: 100%;
}

/* Full hero image */
.hero__bg {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  display: block;
}

/* Overlay content */
.hero__content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

/* Badge */
.hero__badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );

  color: #ffffff;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 200;
}

.hero__badge img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Title */
.hero__title {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  color: var(--color-primary-dark);
}

/* Stats */
.hero__stats {
  display: flex;
  gap: 3rem;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stat h3 {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 700;

  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.stat p {
  margin: 0;
  font-size: 1.2rem;
  color: #2f5d45;
}

/* Button spacing */
.hero__btn {
  font-size: 1rem;
  padding: 12px 40px;
}

/* _______________________________________________  HERO SECTION RESPONSIVE ___________________________________________________________ */

@media (max-width: 1024px) {
  .hero__content {
    left: 3%;
    max-width: 460px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .stat h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .hero__content {
    top: 40%;
    max-width: 90vw;
  }
  .hero__bg {
    height: 70vh;
    height: 70dvh;
    object-position: 75%;
  }
  .hero__badge {
    padding: 6px 14px;
    font-size: 0.9rem;
  }

  .hero__badge img {
    width: 1rem;
    height: 1rem;
  }
  .hero__stats {
    gap: 2.5rem;
  }

  .stat {
    gap: 0.5rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .stat h3 {
    font-size: 2.5rem;
  }
  .stat p {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .hero__content {
    gap: 1rem;
  }
  .hero__badge {
    padding: 5px 12px;
    font-size: 0.8rem;
  }

  .hero__badge img {
    width: 0.9rem;
    height: 0.9rem;
  }
  .hero__stats {
    gap: 1.5rem;
  }

  .stat {
    gap: 0.1rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .stat h3 {
    font-size: 2rem;
  }
  .stat p {
    font-size: 0.8rem;
  }
}
