.metrics {
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  padding: 3% 5%;
  margin-top: 3%;
}

.metrics h3,
p {
  margin: 0;
}

.metrics__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.metric__number {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 12px;
}

.metric__text {
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 300;
}

/* _______________________________________________  METRIC SECTION RESPONSIVE ___________________________________________________________ */
/* Tablet */
@media (max-width: 768px) {
  .metrics__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .metric__number {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .metric__number {
    font-size: 2.5rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .metrics {
    padding: 5% 3%;
  }
  .metrics__container {
    gap: 28px;
  }

  .metric__number {
    font-size: 2rem;
  }

  .metric__text {
    font-size: 0.7rem;
  }
}

/* Smallest (320px) */
@media (max-width: 320px) {
  .metrics__container {
    gap: 28px;
  }

  .metric__number {
    font-size: 1rem;
  }
  .metric__number {
    font-size: 2rem;
  }
}
