/* GALLERY */

.product-section {
  padding: 7% 5%;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: start;
  overflow: visible;
}
.product-gallery {
  position: sticky;
  top: 120px;
}
/* MAIN IMAGE */
.product-gallery .main-image {
  position: relative;
  height: 80vh;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* NAV BUTTONS */
.nav {
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  border: 0.5px solid black;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  background-color: transparent;
}

.nav.prev {
  left: 40px;
}
.nav.next {
  right: 40px;
}

.nav span {
  padding-bottom: 5px;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 8px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #1f5134;
  cursor: pointer;
}

.dot.active {
  background: black;
}

/* THUMB GRID */
.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.thumb {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.thumb.active {
  outline: 2px solid rgba(128, 128, 128, 0.6);
  opacity: 1;
}

/* INFO */

.product-info h2 {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.rating {
  color: var(--color-secondary);
  margin-bottom: 16px;
}

.rating span {
  color: #555;
  font-size: 14px;
}

.description {
  color: #555;
  margin-bottom: 24px;
}

/* SUBSCRIPTION */
.subscription-card {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  overflow: hidden;
}

.badge {
  background: linear-gradient(270deg, #032e15 0%, #008236 51.92%, #00c950 100%);
  color: #fff;
  text-align: center;
  padding: 12px 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  /* align-items: flex-start; */
  cursor: pointer;
  accent-color: var(--color-primary);
  font-size: 1.3rem;
}

.option-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* COLLAPSED STATE */
.option-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition: max-height 0.5s ease, opacity 0.3s ease, transform 0.3s ease;
}

/* EXPANDED STATE */
.option.active .option-content {
  max-height: 2000px;
  opacity: 1;
  transform: translateY(0);
  margin-top: 16px;
}

.option input {
  font-size: 2rem;
}
.option span {
  font-weight: 300;
}

.option .amount strong {
  padding-right: 15px;
}

.amount del {
  color: #b8b8b8;
  font-weight: 200;
}

.option.secondary {
  margin: 20px 0;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}

/* FRAGRANCE */

.fragrance-select {
  margin: 0px 4%;
  border-top: 2px solid #919798;
}

.fragrance-select p {
  font-weight: 300;
  font-size: 1rem;
}
.fragrance-options {
  display: flex;
  gap: 16px;
  margin: 12px 0;
}

.fragrance {
  position: relative;
  background-color: #f9f9f9;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  accent-color: gray;
  font-size: 13px;
}

.fragrance div {
  display: flex;
  align-items: center;
}
.fragrance div span {
  padding-top: 2px;
}

.fragrance input {
  opacity: 0.6;
}

.fragrance span {
  color: rgb(173, 173, 173);
}

/* Best seller tag */
.best-tag span {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 8px;
  background-color: var(--color-primary-dark);
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  padding: 1px 4px;
}

.fragrance img {
  padding: 15px 30px;
}

/* INCLUDED */

.include-fragrance {
  border: 0.13rem solid #c1c5c5;
  border-radius: 5px;
  background: white;
  padding: 10px;
}

.include-fragrance input {
  display: none;
}

.include-fragrance span {
  font-size: 1rem;
}

.include-fragrance img {
  width: 100px;
  height: auto;
  object-fit: cover;
  align-self: center;
}

.include-fragrance.small img {
  width: 70px;
  height: auto;
  object-fit: cover;
}

.include-fragrance.active {
  border-color: var(--color-primary);
}

.included ul {
  padding-left: 20px;
  color: #555;
  padding-inline-start: 0px;
  list-style-type: none;
}

.included ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 300;
}

.included ul li strong,
.include-fragrance strong {
  font-weight: 700;
  color: black;
}

.add-to-cart {
  width: 100%;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
}

.add-to-cart:hover {
  box-shadow: 0px 5px 6px #016630c5;
}

/* _______________________________________________  PRODUCT SECTION ___________________________________________________________ */

@media (max-width: 1700px) {
  .include-fragrance img {
    width: 70px;
  }

  .include-fragrance.small img {
    width: 50px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .product-gallery .main-image {
    height: 70vh;
  }
  .include-fragrance img {
    width: 50px;
  }

  .include-fragrance.small img {
    width: 30px;
  }

  .thumbnail-grid {
    gap: 20px;
  }

  .thumb {
    height: 100px;
  }

  .product-info h2 {
    font-size: 2rem;
  }
  .badge {
    font-size: 1rem;
  }

  .option-header {
    font-size: 1.2rem;
  }

  .fragrance img {
    width: 40px;
    padding: 10px 20px;
  }

  .add-to-cart {
    margin-top: 10px;
    font-size: 1rem;
  }

  .included ul li {
    font-size: 0.9rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .product-gallery {
    position: static;
  }
  .product-container {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .fragrance img {
    width: 50px;
    padding: 10px 20px;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .product-section {
    padding: 7% 3%;
  }
  .nav {
    bottom: 20px;
    font-size: 1.5rem;
    padding: 4px 8px;
  }

  .nav.prev {
    left: 30px;
  }
  .nav.next {
    right: 30px;
  }
  .option-header {
    font-size: 0.95rem;
  }
  .option .amount strong {
    padding-right: 5px;
  }
  .fragrance-options {
    gap: 5px;
  }
  .fragrance img {
    width: 30px;
    padding: 15px 20px;
  }
}
