/* Tablet & Mobile */
@media (max-width: 1024px) {
  .header__container {
    padding: 0 3%;
  }

  .header__logo a {
    font-size: 1.5rem;
  }

  .header__nav a {
    font-size: 0.9rem;
  }
  .header__nav ul {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .header__nav.active {
    transform: translateY(0);
    top: var(--header-height);
  }

  .header__nav ul {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .hamburger {
    display: flex;
  }
}

/* Hero section */

@media (max-width: 1024px) {
  .hero__content {
    left: 3%;
    max-width: 460px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .stat h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .hero__content {
    top: 40%;
  }
  .hero__bg {
    height: 70vh;
    object-position: 75%;
  }
  .hero__badge {
    padding: 6px 14px;
    font-size: 0.9rem;
  }

  .hero__badge img {
    width: 1rem;
    height: 1rem;
  }
  .hero__stats {
    gap: 2.5rem;
  }

  .stat {
    gap: 0.5rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .stat h3 {
    font-size: 2.5rem;
  }
  .stat p {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .hero__content {
    gap: 1rem;
  }
  .hero__badge {
    padding: 5px 12px;
    font-size: 0.8rem;
  }

  .hero__badge img {
    width: 0.9rem;
    height: 0.9rem;
  }
  .hero__stats {
    gap: 1.5rem;
  }

  .stat {
    gap: 0.1rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .stat h3 {
    font-size: 2rem;
  }
  .stat p {
    font-size: 0.8rem;
  }
}

/* Product Section */

@media (max-width: 1700px) {
  .include-fragrance img {
    width: 70px;
  }

  .include-fragrance.small img {
    width: 50px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .include-fragrance img {
    width: 50px;
  }

  .include-fragrance.small img {
    width: 30px;
  }
}
