/* _______________________________________________  HEADER SECTION ___________________________________________________________ */

/* Tablet & Mobile */
@media (max-width: 1024px) {
  .header__container {
    padding: 0 3%;
  }

  .header__logo a {
    font-size: 1.5rem;
  }

  .header__nav a {
    font-size: 0.9rem;
  }
  .header__nav ul {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .header__nav.active {
    transform: translateY(0);
    top: var(--header-height);
  }

  .header__nav ul {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .hamburger {
    display: flex;
  }
}

/* _______________________________________________  HERO SECTION ___________________________________________________________ */

@media (max-width: 1024px) {
  .hero__content {
    left: 3%;
    max-width: 460px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .stat h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .hero__content {
    top: 40%;
  }
  .hero__bg {
    height: 70vh;
    object-position: 75%;
  }
  .hero__badge {
    padding: 6px 14px;
    font-size: 0.9rem;
  }

  .hero__badge img {
    width: 1rem;
    height: 1rem;
  }
  .hero__stats {
    gap: 2.5rem;
  }

  .stat {
    gap: 0.5rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .stat h3 {
    font-size: 2.5rem;
  }
  .stat p {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .hero__content {
    gap: 1rem;
  }
  .hero__badge {
    padding: 5px 12px;
    font-size: 0.8rem;
  }

  .hero__badge img {
    width: 0.9rem;
    height: 0.9rem;
  }
  .hero__stats {
    gap: 1.5rem;
  }

  .stat {
    gap: 0.1rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .stat h3 {
    font-size: 2rem;
  }
  .stat p {
    font-size: 0.8rem;
  }
}

/* _______________________________________________  PRODUCT SECTION ___________________________________________________________ */

@media (max-width: 1700px) {
  .include-fragrance img {
    width: 70px;
  }

  .include-fragrance.small img {
    width: 50px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .product-gallery .main-image {
    height: 70vh;
  }
  .include-fragrance img {
    width: 50px;
  }

  .include-fragrance.small img {
    width: 30px;
  }

  .thumbnail-grid {
    gap: 20px;
  }

  .thumb {
    height: 100px;
  }

  .product-info h2 {
    font-size: 2rem;
  }
  .badge {
    font-size: 1rem;
  }

  .option-header {
    font-size: 1.2rem;
  }

  .fragrance img {
    width: 40px;
    padding: 10px 20px;
  }

  .add-to-cart {
    margin-top: 10px;
    font-size: 1rem;
  }

  .included ul li {
    font-size: 0.9rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .product-gallery {
    position: static;
  }
  .product-container {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .fragrance img {
    width: 50px;
    padding: 10px 20px;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .product-section {
    padding: 7% 3%;
  }
  .nav {
    bottom: 20px;
    font-size: 1.5rem;
    padding: 4px 8px;
  }

  .nav.prev {
    left: 30px;
  }
  .nav.next {
    right: 30px;
  }
  .option-header {
    font-size: 0.95rem;
  }
  .option .amount strong {
    padding-right: 5px;
  }
  .fragrance-options {
    gap: 5px;
  }
  .fragrance img {
    width: 30px;
    padding: 15px 20px;
  }
}

/* _______________________________________________  COLLECTION SECTION ___________________________________________________________ */

@media (max-width: 768px) {
  .collection {
    padding: 5% 5%;
  }
  .collection__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .collection__image {
    order: -1;
  }
  .collection__title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .accordion-body p {
    margin: 0;
  }
  .collection__title {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .collection {
    padding: 40px 16px;
  }

  .collection__image img {
    height: 50vh;
  }

  .collection__title {
    font-size: 1.8rem;
    margin-top: 0;
  }

  .accordion-header {
    font-size: 0.95rem;
  }

  .accordion-body p {
    font-size: 0.9rem;
  }
}

/* _______________________________________________  METRIC SECTION ___________________________________________________________ */
/* Tablet */
@media (max-width: 768px) {
  .metrics__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .metric__number {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .metric__number {
    font-size: 2.5rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .metrics {
    padding: 5% 3%;
  }
  .metrics__container {
    gap: 28px;
  }

  .metric__number {
    font-size: 2rem;
  }

  .metric__text {
    font-size: 0.7rem;
  }
}

/* Smallest (320px) */
@media (max-width: 320px) {
  .metrics__container {
    gap: 28px;
  }

  .metric__number {
    font-size: 1rem;
  }
  .metric__number {
    font-size: 2rem;
  }
}

/* _______________________________________________  COMPARE SECTION ___________________________________________________________ */

@media (max-width: 1024px) {
  .btn-primary {
    font-size: 0.9rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .compare {
    padding: 50px 16px;
  }

  .compare__title {
    font-size: 1.4rem;
  }

  .btn-primary {
    font-size: 1rem;
  }

  .compare__title {
    margin-bottom: 30px;
  }
  .compare__table th,
  .compare__table td {
    padding: 15px;
  }
}

/* _______________________________________________  FOOTER SECTION ___________________________________________________________ */

@media (max-width: 425px) {
  .modal {
    max-width: auto;
    width: 80%;
    padding: 20px 18px;
  }
  .modal h3 {
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .modal {
    padding: 24px 20px;
  }
}

@media (max-width: 1440px) {
  .footer__links {
    gap: 10rem;
  }
  .footer__left {
    gap: 10rem;
  }
}

@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }

  .footer__links,
  .footer__left {
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer__links__sub {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer__newsletter {
    justify-self: start;
    max-width: 26rem;
  }

  .newsletter__form {
    flex-direction: column;
  }

  .newsletter__form button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .footer__newsletter {
    max-width: 100%;
  }

  .footer__links,
  .footer__left {
    gap: 2rem;
  }

  .footer__brand h2 {
    margin: 0;
    font-size: 2rem;
  }
  .footer__links a,
  .footer__social a {
    font-size: 0.8rem;
  }
  .footer__social img {
    width: 1.2rem;
  }
  .newsletter__title {
    font-size: 0.9rem;
  }
}

/* 320px SAFE */
@media (max-width: 360px) {
  .footer {
    padding: 40px 20px;
  }

  .footer__brand h2 {
    font-size: 1.6rem;
  }
}
