/* Tablet & Mobile */
@media (max-width: 1024px) {
  .header__container {
    padding: 0 3%;
  }

  .header__logo a {
    font-size: 1.5rem;
  }

  .header__nav a {
    font-size: 0.9rem;
  }
  .header__nav ul {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .header__nav.active {
    transform: translateY(0);
    top: var(--header-height);
  }

  .header__nav ul {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .hamburger {
    display: flex;
  }
}

/* Hero section */

@media (max-width: 1024px) {
  .hero__content {
    left: 3%;
    max-width: 460px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .stat h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .hero__content {
    top: 40%;
  }
  .hero__bg {
    height: 70vh;
    object-position: 75%;
  }
  .hero__badge {
    padding: 6px 14px;
    font-size: 0.9rem;
  }

  .hero__badge img {
    width: 1rem;
    height: 1rem;
  }
  .hero__stats {
    gap: 2.5rem;
  }

  .stat {
    gap: 0.5rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .stat h3 {
    font-size: 2.5rem;
  }
  .stat p {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .hero__content {
    gap: 1rem;
  }
  .hero__badge {
    padding: 5px 12px;
    font-size: 0.8rem;
  }

  .hero__badge img {
    width: 0.9rem;
    height: 0.9rem;
  }
  .hero__stats {
    gap: 1.5rem;
  }

  .stat {
    gap: 0.1rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .stat h3 {
    font-size: 2rem;
  }
  .stat p {
    font-size: 0.8rem;
  }
}

/* Product Section */

@media (max-width: 1700px) {
  .include-fragrance img {
    width: 70px;
  }

  .include-fragrance.small img {
    width: 50px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .product-gallery .main-image {
    height: 70vh;
  }
  .include-fragrance img {
    width: 50px;
  }

  .include-fragrance.small img {
    width: 30px;
  }

  .thumbnail-grid {
    gap: 20px;
  }

  .thumb {
    height: 100px;
  }

  .product-info h2 {
    font-size: 2rem;
  }
  .badge {
    font-size: 1rem;
  }

  .option-header {
    font-size: 1.2rem;
  }

  .fragrance img {
    width: 40px;
    padding: 10px 20px;
  }

  .add-to-cart {
    margin-top: 10px;
    font-size: 1rem;
  }

  .included ul li {
    font-size: 0.9rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .product-container {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .fragrance img {
    width: 50px;
    padding: 10px 20px;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .product-section {
    padding: 7% 3%;
  }
  .option-header {
    font-size: 0.95rem;
  }
  .option .amount strong {
    padding-right: 5px;
  }
  .fragrance-options {
    gap: 5px;
  }
  .fragrance img {
    width: 30px;
    padding: 15px 20px;
  }
}

/* Collection section */

@media (max-width: 768px) {
  .collection {
    padding: 5% 5%;
  }
  .collection__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .collection__image {
    order: -1;
  }
  .collection__title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .accordion-body p {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .collection {
    padding: 40px 16px;
  }

  .collection__image img {
    height: 50vh;
  }

  .collection__title {
    font-size: 1.8rem;
    margin-top: 0;
  }

  .accordion-header {
    font-size: 0.95rem;
  }

  .accordion-body p {
    font-size: 0.9rem;
  }
}

/* Metric section */
/* Tablet */
@media (max-width: 768px) {
  .metrics__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .metric__number {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .metric__number {
    font-size: 2.5rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .metrics {
    padding: 5% 3%;
  }
  .metrics__container {
    gap: 28px;
  }

  .metric__number {
    font-size: 2rem;
  }

  .metric__text {
    font-size: 0.7rem;
  }
}

/* Smallest (320px) */
@media (max-width: 320px) {
  .metrics__container {
    gap: 28px;
  }

  .metric__number {
    font-size: 1rem;
  }
  .metric__number {
    font-size: 2rem;
  }
}
